body {
  background-color: rgb(246, 244, 241);
}

a {
  color: blue !important;
}

h1 {
  text-align: center;
}

h4 {
  color: blue !important;
  margin-bottom: 20px;
}

h5 {
  color: blue !important;
  display: inline;
}

.jumbotron {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-field {
  display: inline;
}

#new-message {
  width: 90%;
}

#form-buttons {
  margin-top: 10px;
}

#time {
  color: cadetblue;
  float: right;
  margin-right: 5%;
}

#top-back {
  float: right;
  margin-bottom: 10px !important;
}

.tweet {
  margin-top: 5px;
  background-color: aliceblue;
  padding-left: 5%;
  border-radius: 5px;
}
