body {
  background: -webkit-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #61d8f6 10%, #fefff4 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #61d8f6 10%, #fefff4 90%); /* W3C */
}

a {
  color: blue !important;
  display: block;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

h4 {
  color: blue !important;
  margin-bottom: 20px;
}

h5 {
  color: blue !important;
  display: inline;
}

form {
  background-color: rgb(170, 255, 196);
  padding: 10px;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

.jumbotron {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.form-field {
  display: inline;
  border-radius: 5px;
}

.message {
  margin-bottom: 0 !important;
  display: inline-block;
}

#new-message {
  width: 90%;
}

#form-buttons {
  margin-top: 10px;
}

#time {
  color: cadetblue;
  display: inline-block;
  margin-left: 30px;
}

#top-back {
  float: right;
  margin-bottom: 10px !important;
}

.tweet {
  margin-top: 5px;
  background-color: aliceblue;
  padding-left: 5%;
  border-radius: 5px;
}

#handle-input {
  margin-bottom: 10px;
}

#new-tweet {
  margin-top: 10px;
}

.tweet-tags {
  margin-top: -10px;
  margin-left: 10px;
  font-style: italic;
  color: rgb(131, 171, 250);
  display: inline-block;
}

.tweet-tags:hover {
  cursor: pointer;
}

#new-tweet:hover {
  cursor: pointer;
}
