body {
  background: -webkit-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #61d8f6 10%, #fefff4 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #61d8f6 10%,
    #fefff4 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #61d8f6 10%, #fefff4 90%); /* W3C */
}

a {
  color: blue !important;
  display: block;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

h4 {
  color: blue !important;
  margin-bottom: 20px;
}

h5 {
  color: blue !important;
  display: inline;
}

form {
  background-color: rgb(170, 255, 196);
  padding: 10px;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 20px;
}

.form-field {
  display: inline;
  border-radius: 5px;
}

.message {
  margin-bottom: 0 !important;
  display: inline-block;
}

#new-message {
  width: 90%;
}

#form-buttons {
  margin-top: 10px;
}

#time {
  color: cadetblue;
  display: inline-block;
  margin-left: 30px;
}

#top-back {
  float: right;
  margin-bottom: 10px !important;
}

.tweet {
  margin-top: 5px;
  background-color: aliceblue;
  padding-left: 5%;
  border-radius: 5px;
}

#handle-input {
  margin-bottom: 10px;
}

#new-tweet {
  margin-top: 10px;
}

.tweet-tags {
  margin-top: -10px;
  margin-left: 10px;
  font-style: italic;
  color: rgb(131, 171, 250);
  display: inline-block;
}

.tweet-tags:hover {
  cursor: pointer;
}

#new-tweet:hover {
  cursor: pointer;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .jumbotron {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .jumbotron {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .jumbotron {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .jumbotron {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .body {
    position: fixed;
    max-height: 100%;
    width: 100%;
  }
  .jumbotron {
    padding-top: 10px !important;
    margin-top: 15px !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .body {
    position: fixed;
    max-height: 100%;
    width: 100%;
  }
  .jumbotron {
    padding-top: 10px !important;
    margin-top: 15px !important;
  }
}
